* {
	box-sizing: border-box;
}
body {
	margin:0;
	background: radial-gradient(ellipse farthest-corner, #32444a, #222);
	font-family: Verdana, Helvetica, Arial, sans-serif;
}
#alien {
	position: relative;
	top: 0px;
	left: 250px;
	width: 500px;
	height: 850px;
}
#alien * {
	position: absolute;
}
.head_top {
	width: 500px;
	height: 400px;
	top: 150px;
	left: 0;
	background-color: #44944a;
	border-top: 2px solid #ccff99;
	border-radius: 50%;
}
.head_bottom {
	width: 300px;
	height: 350px;
	bottom: 225px;
	left: 100px;	
	background-color: #44944a;
	border-radius: 50%;
}
.eyes {
	width: 300px;
	height: 200px;
	top: 300px;
	left: 100px;
}
.eye {
	width: 100px;
	height: 200px;	
	border-radius: 50%;
	background-color: #ccff99;
	border-width: 10px 5px;
	border-style: solid;
	border-color: #425e17;
	overflow: hidden;
}
.eye.left {
	left:0;
	transform: rotate(-50deg);
}
.eye.right {
	right: 0;
	transform: rotate(50deg);
}
/****************/
.nostrils {
	width: 40px;
	height: 20px;
	top: 475px;
	left: 230px;
}
.nostril {
	width: 10px;
	height: 20px;
	border-radius: 50%;
	background-color: #44944a;
	border-width: 8px 3px;
	border-style: solid;
	border-color: #425e17;
	overflow: hidden;
	animation-delay: 2s;
	animation-duration: 9s;
	animation-iteration-count: 1;
	animation-name: nostril;
}
.nostril.left {
	left:0;
	transform: rotate(-50deg);
}
.nostril.right {
	right: 0;
	transform: rotate(50deg);
}
.mouth {
	width: 50px;
	height: 10px;
	top: 550px;
	left: 225px;
	border-radius: 50%;
	background-color: #ccff99;
	border-width: 6px 1px;
	border-style: solid;
	border-color: #425e17;
	animation-duration: 1.5s;
	animation-iteration-count: 6;
}